---
certs:
    cert_file: /etc/certs/public.crt
    key_file: /etc/certs/private.key
    ca_path: /etc/certs/CAs
    
distribute:
  peers: https://server{1...32}:9000/
  token: 32bytestring

journal:
  dir: /mnt/errs
buckets:
  radiobucket1:
    access_key: Q3AM3UQ867SPQQA43P2F
    secret_key: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
    protection:
      scheme: mirror
    remote:
      - access_key: TX8mIIOGC12QBMJ45F0Z
        bucket: bucket1
        endpoint: http://minio-minio1:9000
        secret_key: 9ule1ga5JMfMmQXCoEPNcM2jij
      - access_key: GX82IIOGC12QBMJ45F0Z
        bucket: bucket2
        endpoint: http://minio-minio2:9000
        secret_key: 9ux11ga5JMfMmQXCoEPNcM2jij
